body {
    background-color: lightgrey;      
}

input {
    border: 1px solid black;
}
td {
    text-align: left;
}
button {
    border: 1px solid black;
}
#header {
    background-color: #FF9900;
    position: absolute;
    width:99%;
}
#headerleft {
    font-size: 24px;
    width:50%;
    text-align: left;
    margin-left: 5px;
    position: absolute;
}
#headerright {
    width: 99%;    
    text-align: right;
}

#content {
    top: 100px;
    width:100%;
    position: absolute;
    text-align: center;
    align: center;
}

#copyright
{
    font-size: 12px;
    text-align: center;
}

#amazonpic
{
    text-align: center;
}